<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

    <h2>Football</h2>

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th colspan="2">Countries : </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="country: ${countries}">
                        <td th:text="${country.name}">Country Name</td>
                        <td> <a th:href="@{/football/country/{id}(id=${country.id})}">Countries Leagues</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h3> Planned matches: </h3>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Country </th>
                        <th> League </th>
                        <th> Home Team </th>
                        <th> Away Team </th>
                        <th> Start </th>
                        <th> End </th>
                        <th> Bet!</th>
                        <th> Group Bet!</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="footballMatch: ${nextMatches}">
                        <td th:text="${footballMatch.awayFootballTeam.footballLeague.country.name}">Country Name</td>
                        <td th:text="${footballMatch.awayFootballTeam.footballLeague.name}">League Name</td>
                        <td th:text="${footballMatch.homeFootballTeam.team}">HomeTeam Name</td>
                        <td th:text="${footballMatch.awayFootballTeam.team}">AwayTeam Name</td>
                        <td th:text="${#temporals.format(footballMatch.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                        <td th:text="${#temporals.format(footballMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/footballBet/match/{id}(id=${footballMatch.id})}">Bet!</a> </td>
                        <td> <a th:href="@{/footballBet/groupMatch/{id}(id=${footballMatch.id})}">Bet!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3> Live matches:</h3>

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Country </th>
                        <th> League </th>
                        <th> Home Team </th>
                        <th> Home score </th>
                        <th> Away Team </th>
                        <th> Away score </th>
                        <th> Status </th>
                        <th> End </th>
                        <th> Match details</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="footballMatch: ${liveMatches}">
                        <td th:text="${footballMatch.awayFootballTeam.footballLeague.country.name}">Country Name</td>
                        <td th:text="${footballMatch.awayFootballTeam.footballLeague.name}">League Name</td>
                        <td th:text="${footballMatch.homeFootballTeam.team}">HomeTeam Name</td>
                        <td th:text="${footballMatch.homeScore}">HomeTeam Score</td>
                        <td th:text="${footballMatch.awayFootballTeam.team}">AwayTeam Name</td>
                        <td th:text="${footballMatch.awayScore}">AwayTeam Score</td>
                        <td th:text="${footballMatch.status}">Status</td>
                        <td th:text="${#temporals.format(footballMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/football/match/{id}(id=${footballMatch.id})}">Live results!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<div th:replace="Footer.html :: footer"></div>

<!--<tr	th:each="project: ${projects}">-->
    <!--<td	th:text="${project.name}"></td>-->
    <!--<td	th:text="${project.description}"></td>-->
    <!--<td th:text="${#temporals.format(project.created, 'dd-MM-yyyy HH:mm')}"></td>-->
    <!--<td	th:text="${project.website}"></td>-->
    <!--<td	th:text="${project.identity}"></td>-->
    <!--<td	th:text="${project.active}"></td>-->
    <!--<td> <a th:href="@{/project/details/{id}(id=${project.id})}">Project Details</a> </td>-->
<!--</tr>-->