<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<h2 th:text="| Home footballTeam : ${match.homeFootballTeam.team} Away footballTeam : ${match.awayFootballTeam.team} League: ${match.awayFootballTeam.footballLeague.name} Country: ${match.awayFootballTeam.footballLeague.country.name}|">Team</h2>

<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th> Home footballTeam </th>
                    <th> Home score </th>
                    <th> Home half score </th>

                    <th> Away footballTeam </th>
                    <th> Away score </th>
                    <th> Away half score </th>
                    <th> Status </th>
                    <th> Winner </th>

                    <th> Start </th>
                    <th> End </th>
                    <!--<th> Bet!</th>-->

                </tr>
                </thead>

                <tbody>
                    <td th:text="${match.homeFootballTeam.team}">HomeTeam Name</td>
                    <td th:text="${match.homeScore}">HomeTeam Name</td>
                    <td th:text="${match.homeHalfScore}">HomeTeam Name</td>

                    <td th:text="${match.awayFootballTeam.team}">AwayTeam Name</td>
                    <td th:text="${match.awayScore}">HomeTeam Name</td>
                    <td th:text="${match.awayHalfScore}">HomeTeam Name</td>

                    <td th:text="${match.status}">Status</td>
                    <td th:switch="${match.winner}">
                        <span th:case='null' >No result yet!</span>
                        <span th:case='true' th:text="${match.winner.team}" >Win</span>
                    </td>
                    <td th:text="${#temporals.format(match.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                    <td th:text="${#temporals.format(match.end, 'dd-MM-yyyy HH:mm')}">End</td>
                    <!--<td> <a th:href="@{/bet/footballMatch/{id}(id=${footballMatch.id})}">Bet!</a> </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="Footer.html :: footer"></div>


