<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="Header.html :: header"></div>

    <h3 class="text-center" th:text="| Team : ${team.team} League: ${team.footballLeague.name} Country: ${team.footballLeague.country.name}| ">Team</h3>
    <h3 class="text-center" th:text="| Team position : ${team.position} |">Team</h3>

    <a class="btn btn-primary btn-block" th:href="@{/user/addFavorite/{id}(id=${team.id})}">Add to favorite</a>


    <h2> Home Matches </h2>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Home footballTeam </th>
                        <th> Home score </th>
                        <th> Home half score </th>

                        <th> Away footballTeam </th>
                        <th> Away score </th>
                        <th> Away half score </th>
                        <th> Status </th>

                        <th> Start </th>
                        <th> End </th>
                        <th> Bet!</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="footballMatch: ${homeMatches}">
                        <td th:text="${footballMatch.homeFootballTeam.team}">HomeTeam Name</td>
                        <td th:text="${footballMatch.homeScore}">HomeTeam Name</td>
                        <td th:text="${footballMatch.homeHalfScore}">HomeTeam Name</td>

                        <td th:text="${footballMatch.awayFootballTeam.team}">AwayTeam Name</td>
                        <td th:text="${footballMatch.awayScore}">HomeTeam Name</td>
                        <td th:text="${footballMatch.awayHalfScore}">HomeTeam Name</td>

                        <td th:text="${footballMatch.status}">Status</td>
                        <td th:text="${#temporals.format(footballMatch.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                        <td th:text="${#temporals.format(footballMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/footballBet/match/{id}(id=${footballMatch.id})}">Bet!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2> Away Matches </h2>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Home footballTeam </th>
                        <th> Home score </th>
                        <th> Home half score </th>

                        <th> Away footballTeam </th>
                        <th> Away score </th>
                        <th> Away half score </th>
                        <th> Status </th>

                        <th> Start </th>
                        <th> End </th>
                        <th> Bet!</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="footballMatch: ${awayMatches}">
                        <td th:text="${footballMatch.homeFootballTeam.team}">HomeTeam Name</td>
                        <td th:text="${footballMatch.homeScore}">HomeTeam Name</td>
                        <td th:text="${footballMatch.homeHalfScore}">HomeTeam Name</td>

                        <td th:text="${footballMatch.awayFootballTeam.team}">AwayTeam Name</td>
                        <td th:text="${footballMatch.awayScore}">HomeTeam Name</td>
                        <td th:text="${footballMatch.awayHalfScore}">HomeTeam Name</td>

                        <td th:text="${footballMatch.status}">Status</td>
                        <td th:text="${#temporals.format(footballMatch.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                        <td th:text="${#temporals.format(footballMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/footballBet/match/{id}(id=${footballMatch.id})}">Bet!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="Footer.html :: footer"></div>

