<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<h3> Your friends: </h3>

<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th> Nick </th>
                    <!--<th> FootballBet together! </th>-->
                </tr>

                </thead>

                <tbody>
                <tr th:each="user: ${friends}">
                    <td th:text="${user.nick}">Nick</td>
                    <!--<td> <a th:href="@{/user/message/{id}(id=${user.id})}">Add</a> </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<td> <a th:href="@{/user/addMessage}">Send Message</a> </td>


<div th:replace="Footer.html :: footer"></div>
