<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

    <h2 class="text-center">Hello mighty admin, here are your options for handling this service</h2>

<a class="btn btn-primary btn-block" href="/admin/users/">Users</a>
<!--<a class="btn btn-primary btn-block" href="/user/transferAdd">Bank Transfer</a>-->
<!--<a class="btn btn-primary btn-block" href="/user/cryptoAdd">Cryptocurrencies</a>-->
<hr>

<!--<p class="text-center"> Below you can find methods to take money back from your accounts : </p>-->
<!--<hr>-->
<!--<a class="btn btn-primary btn-block" href="/user/transferGet">Bank Transfer</a>-->
<!--<a class="btn btn-primary btn-block" href="/user/cryptoGet">Cryptocurrencies</a>-->
<!--<hr>-->
<div th:replace="Footer.html :: footer"></div>
