<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<p class="text-center" th:text="|Welcome ${session.firstName} to RandomBet, choose one of the options:|"> Welcome </p>
<hr>

<h4 class="text-center"> Sports to bet:</h4>
<a class="btn btn-primary btn-block" href="/football">Football</a>
<a class="btn btn-primary btn-block" href="/lol">League of Legends</a>
<hr>

<h4 class="text-center"> Your favorite:</h4>

<td th:switch="${favorite}">
    <span th:case="'no'" > <p class="text-center"> You have no favorite betting sports! </p> </span>
    <span th:case="'football'"> <a class="btn btn-primary btn-block" href="/football/"></a> Football </span>
    <span th:case="'lol'"> <a class="btn btn-primary btn-block" href="/lol/"> League of Legends</a> </span>
</td>

<div th:replace="Footer.html :: footer"></div>


