<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account - Register Now and got first 100 free!</div>
        <div class="card-body">


            <!--<p>Project name: <input type="text" th:field="*{name}" /></p>-->
            <!--<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> error message</p>-->


            <form th:action="@{/register}" th:object="${user}" method="post">

                <div class="form-group">
                    <label for="username">Email</label>
                    <input class="form-control" id="username" type="text" th:field="*{username}" placeholder="Enter your email">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> error message</p>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="firstName">First name</label>
                            <input class="form-control" id="firstName" th:field="*{firstName}" type="text" placeholder="Enter first name">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> error message</p>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">Last name</label>
                            <input class="form-control" id="lastName" type="text" th:field="*{lastName}" placeholder="Enter last name">
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> error message</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nick">Your nick</label>
                    <input class="form-control" id="nick" type="text" th:field="*{nick}" placeholder="Enter nick">
                    <p th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"> error message</p>
                </div>

                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Password">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> error message</p>
                        </div>

                        <!--<div class="col-md-6">-->
                        <!--<label for="exampleConfirmPassword">Confirm password</label>-->
                        <!--<input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">-->
                        <!--</div>-->
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Register an account" />
                </div>

            </form>

            <div class="text-center">
                <a class="d-block small mt-3" href="/login">Login</a>
            </div>


            <!--<div class="text-center">-->
            <!--<a class="d-block small mt-3" href="login.html">Login Page</a>-->
            <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
            <!--</div>-->

        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
