<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

    <h2>League of Legends</h2>

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th colspan="2">Countries : </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="league: ${leagues}">
                        <td th:text="${league.name}">Country Name</td>
                        <td> <a th:href="@{/lol/league/{id}(id=${league.id})}">Leagues</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h3> Planned matches: </h3>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> League </th>
                        <th> Home lolTeam </th>
                        <th> Away lolTeam </th>
                        <th> Start </th>
                        <th> End </th>
                        <th> Bet!</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="lolMatch: ${nextMatches}">
                        <td th:text="${lolMatch.awayLolTeam.lolLeague.name}">League Name</td>
                        <td th:text="${lolMatch.homeLolTeam.team}">HomeTeam Name</td>
                        <td th:text="${lolMatch.awayLolTeam.team}">AwayTeam Name</td>
                        <td th:text="${#temporals.format(lolMatch.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                        <td th:text="${#temporals.format(lolMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/lolBet/match/{id}(id=${lolMatch.id})}">Bet!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3> Live matches:</h3>

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> League </th>
                        <th> Home score </th>
                        <th> Away score </th>
                        <th> Status </th>
                        <th> End </th>
                        <th> Bet!</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="lolMatch: ${liveMatches}">
                        <td th:text="${lolMatch.awayLolTeam.lolLeague.name}">League Name</td>
                        <td th:text="${lolMatch.homeLolTeam.team}">HomeTeam Name</td>
                        <td th:text="${lolMatch.homeScore}">HomeTeam Score</td>
                        <td th:text="${lolMatch.awayLolTeam.team}">AwayTeam Name</td>
                        <td th:text="${lolMatch.awayScore}">AwayTeam Score</td>
                        <td th:text="${lolMatch.status}">Status</td>
                        <td th:text="${#temporals.format(lolMatch.end, 'dd-MM-yyyy HH:mm')}">End</td>
                        <td> <a th:href="@{/lolBet/lolMatch/{id}(id=${lolMatch.id})}">Bet!</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<div th:replace="Footer.html :: footer"></div>

<!--<tr	th:each="project: ${projects}">-->
    <!--<td	th:text="${project.name}"></td>-->
    <!--<td	th:text="${project.description}"></td>-->
    <!--<td th:text="${#temporals.format(project.created, 'dd-MM-yyyy HH:mm')}"></td>-->
    <!--<td	th:text="${project.website}"></td>-->
    <!--<td	th:text="${project.identity}"></td>-->
    <!--<td	th:text="${project.active}"></td>-->
    <!--<td> <a th:href="@{/project/details/{id}(id=${project.id})}">Project Details</a> </td>-->
<!--</tr>-->