<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<h2 th:text="| You are betting in match : ${matchData.homeLolTeam.team} vs ${matchData.awayLolTeam.team} in ${matchData.awayLolTeam.lolLeague.name}|"> betting info</h2>

<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th> Home footballTeam </th>
                    <th> Home score </th>

                    <th> Away footballTeam </th>
                    <th> Away score </th>
                    <th> Status </th>
                    <th> Winner </th>

                    <th> Start </th>
                    <th> End </th>

                </tr>
                </thead>

                <tbody>
                <td th:text="${matchData.homeLolTeam.team}">HomeTeam Name</td>
                <td th:text="${matchData.homeScore}">HomeTeam Name</td>

                <td th:text="${matchData.awayLolTeam.team}">AwayTeam Name</td>
                <td th:text="${matchData.awayScore}">HomeTeam Name</td>

                <td th:text="${matchData.status}">Status</td>
                <td th:switch="${matchData.winner}">
                    <span th:case='null' >No result yet!</span>
                    <span th:case='true' th:text="${matchData.winner.team}" >Win</span>
                </td>
                <td th:text="${#temporals.format(matchData.start, 'dd-MM-yyyy HH:mm')}">Start</td>
                <td th:text="${#temporals.format(matchData.end, 'dd-MM-yyyy HH:mm')}">End</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p> Odds : </p>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:text="|${matchData.homeLolTeam.team} wins|"> footballOdds </th>
                    <th th:text="|${matchData.awayLolTeam.team} wins|"> footballOdds </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${matchData.lolOdds.oddHome}"> footballOdds</td>
                    <td th:text="${matchData.lolOdds.oddAway}"> footballOdds</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!--Betting form-->
    <form th:action="@{/lolBet/match}" th:object="${bet}"	method="post">

    <label> Bet type:</label>
        <select th:field="*{type}">
            <option th:value="homeWin" th:text="|${matchData.homeLolTeam.team} wins|"> Win </option>
            <option th:value="awayWin" th:text="|${matchData.awayLolTeam.team} wins|"> Win </option>
        </select>

        <p th:text="|Your account has: ${user.money}|"></p>
        <div>
            <label for="money">Amount of money to footballBet:</label>
            <input class="form-control"  th:field="*{money}" id="money" type="number" name="money" placeholder="Amount of money">
            <p th:if="${#fields.hasErrors('money')}" th:errors="*{money}"> error message</p>
        </div>


        <input type="hidden" th:value="${matchData.id}" th:attr="name='lolMatch'" />

        <div class="text-center">
            <input type="submit" value="Make footballBet!" />
        </div>
            </form>


<div th:replace="Footer.html :: footer"></div>
