<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

    <h3 th:text="|League:${league.name}|">Teams</h3>



    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Team </th>
                        <th> Position </th>
                        <th> Wins </th>
                        <th> Lost </th>
                        <th> Team details </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="lolTeam: ${teams}">
                        <td th:text="${lolTeam.team}">Team Name</td>
                        <td th:text="${lolTeam.position}">Team Position</td>
                        <td th:text="${lolTeam.wins}">League Name</td>
                        <td th:text="${lolTeam.lost}">AwayTeam Name</td>
                        <td> <a th:href="@{/lol/team/{id}(id=${lolTeam.id})}">Team details</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<div th:replace="Footer.html :: footer"></div>
